<app-menu></app-menu>
<!--<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div> video 16-->

<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/login"
            >Iniciar Sesión</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/registro">Crear Cuenta</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
        <div class="form-group">
          <label form="nombre">Nombre</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            class="form-control"
            [(ngModel)]="nombre"
            required
          />
        </div>
        <div class="form-group">
          <label form="nombreUsuario">Nombre de Usuario</label>
          <input
            type="text"
            name="nombreUsuario"
            id="nombreUsuario"
            class="form-control"
            [(ngModel)]="nombreUsuario"
            required
          />
        </div>
        <div class="form-group">
          <label form="password">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            required
          />
        </div>
        <div class="form-group">
          <label form="email">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            [(ngModel)]="email"
            required
          />
        </div>
        <br />
        <div class="form-group">
          <div class="d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-outline-success" [disabled]="!f.valid">
              <i class="fa-solid fa-right-to-bracket"></i> Crear Cuenta
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
