<table class="table table-dark table-hover">
    <thead>
      <tr class="border-1 border-bottom border-primary">
        <th scope="col" (click)="setOrder('id')">ID</th>
        <th scope="col" (click)="setOrder('nombre')">Nombre</th>
        <th scope="col" (click)="setOrder('precio')">Precio</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
        <th scope="col"><i class="fa-solid fa-sort" (click)="sort()"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos2" >
        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>$ {{producto.precio}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{producto.id}}"><i class="fa-solid fa-eye"></i> Ver</button></td>
        <td><button class="btn btn-outline-warning" routerLink="/editar/{{producto.id}}"><i class="fa-solid fa-pen-to-square"></i> Editar</button></td>
        <td><button class="btn btn-outline-danger" (click)= "borrar(producto.id)" ><i class="fa-solid fa-trash-can"></i> Eliminar</button></td>
        <td></td>
      </tr>
    </tbody>
</table>
<!--<div class="container bg-dark">-->
<nav aria-label="Paginacion" class="navbar navbar-dark bg-dark justify-content-center pagination-md">
  <ul class="pagination">
    <li class="page-item" style="cursor: pointer">
      <a class="page-link"(click)="rewind()">Anterior</a>
    </li>
    <span *ngFor="let p of totalPages ; let i =index">
    <li class="page-item">
      <a class="page-link" style="cursor: pointer" (click)="setPages(i)" text-float="auto"
        [ngClass]="{'text-warning': i === page}">{{i+1}}</a>
    </li>
    </span>
    <li class="page-item" style="cursor: pointer">
      <a class="page-link" (click)="forward()">Siguiente</a>
    </li>
  </ul>
</nav>  