<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>CRUD pagina de inicio</title>
  </head>
  <header>
    <app-menu></app-menu>
  </header>
  <body>
    <!--ejemplo de jumbotron-->
    <div class="container">
    <div class="container">
      <div class="jumbotron">
        <h1 *ngIf="!nombreUsuario" class="display-4">Bienvenido a CRUD!</h1>
        <h1 *ngIf="nombreUsuario" class="display-4">
          Hola, {{ nombreUsuario | uppercase}}!
        </h1>
        <p class="lead">
          Para ingresar logueate haciendo click en el boton "Iniciar Sesion",
          arriba a la derecha.
        </p>
        <p class="lead">
          Si no recuerdas tu clave, haz click en el boton de abajo.
        </p>
        <a
          class="btn btn-warning btn-lg"
          href="/sendemail"
          role="button"
          style="margin: 10px"
          >Cambiar clave</a
        >
        <hr class="my-4" />
        <p>
          En caso de no tener una cuenta, puedes registrarte haciendo click en
          el boton de aqui abajo.
        </p>
        <a
          class="btn btn-primary btn-lg"
          href="/registro"
          role="button"
          style="margin: 10px"
          >Registrate!</a
        >
        <hr class="my-4" />
      </div>
    </div>
    <!--Fin jumbotron-->

    <!-- inicio cards boostrap v5.2 ="../../assets/gallery/01.jpg"-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/gallery/01.jpg" class="card-img-top" alt="Producto 1">
          <div class="card-body">
            <h5 class="card-title">Producto 1</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Compre ahora {{ nombreUsuario | uppercase}}!!</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/gallery/02.jpg" class="card-img-top" alt="Producto 2">
          <div class="card-body">
            <h5 class="card-title">Producto 2</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Compre ahora !!</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/gallery/03.jpg" class="card-img-top" alt="Producto 3">
          <div class="card-body">
            <h5 class="card-title">Producto 3</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Compre ahora !!</small>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin cards boostrap v5.2 -->
    </div>
  </body>
</html>